name: Mirror to Gist

on:
  workflow_dispatch:
    inputs:
      file_path:
        description: 'Path to the markdown file (.md) to mirror to gist'
        required: true
        type: string

jobs:
  call-mirror-workflow:
    uses: serpuniversity/.github/.github/workflows/mirror-to-gist.yml@main
    with:
      file_path: ${{ github.event.inputs.file_path }}
    secrets:
      GH_PAT_PROFESSOR_SERP: ${{ secrets.GH_PAT_PROFESSOR_SERP }}